* {
  font-family: "Montserrat";
}

@font-face {
  font-family: Courgette;
  src: url("../img/Courgette-Regular.ttf");
}
body{
  /* Created with https://www.css-gradient.com */
  background: rgba(210, 233, 183, 1.0);
  background: radial-gradient(to bottom, rgba(210, 233, 183, 1.0), rgba(181, 252, 26, 1.0));

}

