* {
  font-family: "Montserrat";
}

@font-face {
  font-family: Montserrat;
  src: url("../IMG/Montserrat-Italic-VariableFont_wght.ttf");
}
body{
  background: rgb(215,230,212);
  background: linear-gradient(90deg, rgba(215,230,212,1) 0%, rgba(221,231,236,1) 50%, rgba(255,245,210,1) 100%);
}
